RewriteEngine On
RewriteBase /Projet_sprint_2/EasyMatch-Transport/public/

# Si le fichier ou dossier n'existe pas, rediriger vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Définir l'index par défaut
DirectoryIndex index.php